<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ustglobal.myustapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name="com.ustglobal.myustapp.Common.UST"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
             The API key for Google Maps-based APIs.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC8SG_aMzwyGo9ruL30r62TgWbII5noUvs" />

        <activity
            android:name="com.ustglobal.myustapp.Login.Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ustglobal.myustapp.Login.Login"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity
            android:name="com.ustglobal.myustapp.Login.Registration"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity
            android:name="com.ustglobal.myustapp.Login.CreateProfile"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity
            android:name="com.ustglobal.myustapp.Dashboard.EventsList"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity
            android:name="com.ustglobal.myustapp.Dashboard.SubCategoryList"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity
            android:name="com.ustglobal.myustapp.Dashboard.EventRegister"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity
            android:name="com.ustglobal.myustapp.Dashboard.Dashboard"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/auth0_domain"
                    android:pathPrefix="/android/com.internal.ustglobal/callback"
                    android:scheme="demo" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.ustglobal.myustapp.Login.Register"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity
            android:name=".Dashboard.ChangePassword"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity
            android:name="com.ustglobal.myustapp.Dashboard.EventDetail"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity
            android:name="com.ustglobal.myustapp.Dashboard.DisplayImage"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity
            android:name=".Login.OTP"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>


        <activity
            android:name=".Login.ResetPassword"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity
            android:name="com.ustglobal.myustapp.Dashboard.HashTags"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>


        <activity
            android:name="com.ustglobal.myustapp.Dashboard.BookUber"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity
            android:name="com.ustglobal.myustapp.Dashboard.GoogleSheets"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>


        <activity
            android:name="com.ustglobal.myustapp.NavigationDrawer.WebView"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity
            android:name="com.ustglobal.myustapp.Login.ForgotPassword"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>


        <service android:name="com.ustglobal.myustapp.Notification.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.ustglobal.myustapp.Notification.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="db2acfc569d20512c631f6a9e8ff186d74c01035" />

    </application>

</manifest>